* {
  margin: 0;
  padding: 0;
}
:root {
  --van-picker-option-font-size: 44px !important;
  --van-padding-base: 10px !important;
  --van-padding-md: 32px !important;
  --van-font-size-md: 36px !important;
  --van-font-size-lg: 36px !important;
  --van-line-height-md: 44px !important;
  --van-font-size-xs: 28px !important;
  --van-line-height-xs: 38px !important;
  --van-dialog-button-height: 96px !important;
}
.van-picker__toolbar {
  height: 80px !important;
}
.van-picker__title {
  display: none;
}
.header {
  background: url(./banner.webp) no-repeat 50%;
  height: 531px;
  position: relative;
}

.header .van-swipe {
  bottom: 130px;
  height: 60px;
  left: 30px;
  position: absolute;
  overflow: hidden;
}
.header .van-swipe-item {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 22px;
  line-height: 60px;
  padding: 0 22px;
  width: auto;
}
.section {
  margin-top: -80px;
  padding: 80px 50px 120px;
  position: relative;
}
.section:nth-child(odd) {
  background-color: #f1f4ff;
  border-top-left-radius: 0;
  border-top-right-radius: 80px;
}
.section:nth-child(2n) {
  background-color: #fff;
  border-top-left-radius: 80px;
  border-top-right-radius: 0;
}
.submit-container .title {
  color: #333;
  font-weight: 700;
  text-align: center;
}
.submit-container .title .text {
  font-size: 36px;
}
.submit-container .title .highlight {
  color: #fe4f02;
}
.price-text {
  color: #fe4f02;
  font-size: 56px;
  line-height: 56px;
  margin-top: 28px;
}
.type .title {
  -webkit-box-flex: 0;
  color: #333;
  -webkit-flex: 0 0 70px;
  flex: 0 0 70px;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}
.type {
  margin-bottom: 42px;
}
.item .tip {
  color: #757575;
}
.item .arrow {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABQklEQVRIS+2UPUrFQBSFzzA3KWyfqGsQ1A1YPH8WYWETAg5hLN2FbUIyxEZwF/6ULsGH2osIdnZOJhJ4D4Ikk2RQX2HShjPfPd9chmFJH1sSFyP4z8yPqkfVv2bAulxJkmwQ0bsQ4rPvBEopz/f9SRAEr7ZMKzjLsmPG2CWARyI6DMPwpQuepuka5/y6LMstACdCiIu2jA18zhg7mwefiWhqg+d5vm6MuQOwOc8kQojTweA4jiee51UHbXfBG6AzY8w0iqK3weAqoJRaBXBrgzdBtdb7Ukq3O15M2gB/IqK9SrsrtDq715PZBOecHxVFcVW701mfpotCvcAt2sva4IOgvRtbtFe/BkMHg2vNbwDsAHjQWh90LVLTZvdWXQ8rpVYA7Gqt76WUH10Py4+BXUDfM06NR7CLgVG1izWnzP9T/QWZAo0fpPEmogAAAABJRU5ErkJggg==)
    no-repeat 50%;
  height: 30px;
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
}
.van-checkbox-group {
  height: 42px;
  display: flex;
  flex: 1;
  margin-left: 24px;
  justify-content: space-between;
}
.item-title {
  -webkit-box-flex: 0;
  color: #333;
  -webkit-flex: 0 0 130px;
  flex: 0 0 130px;
  margin-right: 30px;
  text-align: right;
}
.input-item {
  -webkit-box-flex: 1;
  background: #f7f7f7;
  border-radius: 10px;
  color: #333;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 30px;
  margin: 0 auto;
  padding: 27px 0 27px 30px;
  text-align: left;
}
input {
  background: transparent;
  outline: none;
  border: none;
}
.item {
  -webkit-box-align: center;
  -webkit-box-pack: start;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  font-size: 30px;
  position: relative;
}
.submit-button {
  background: #fe4f02;
  border-radius: 50px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 100px;
  margin: 40px auto 0;
  text-align: center;
  width: 400px;
}
.sign-agreements p {
  color: #999;
  font-size: 22px;
  line-height: 36px;
  text-align: left;
  margin-top: 20px;
}
/* ================================= */
.comment-container {
  height: 970px;
}
.van-swipe__indicators {
  bottom: 100px !important;
}
.comment-container .van-swipe__indicator {
  background-color: #c6b6ab;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  width: 10px;
}
.van-swipe__indicator.van-swipe__indicator--active {
  background-color: #fe4f02 !important;
}
.comment-title {
  background: url(./title.webp) no-repeat 50%;
  height: 46px;
  margin: 0 auto 50px;
  width: 459px;
}
.comment {
  height: initial;
}
.comment .user .user-info .age {
  color: #999;
  font-size: 26px;
  margin-left: 16px;
}
.comment .user .user-info .username {
  color: #333;
  font-size: 26px;
  margin-left: 25px;
}
.user,
.user-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.comment .user .avatar {
  background-color: #ccc;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.comment .comment-content {
  color: #333;
  font-size: 30px;
  line-height: 48px;
  margin-top: 30px;
  height: 480px;
  text-align: justify;
}
.comment .image-list {
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 30px;
}
.comment .image-list .image-item {
  background-color: #ccc;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 208px;
  width: 208px;
}
.map-title {
  background: url(./title2.webp) no-repeat 50%;
  height: 47px;
  margin: 0 auto;
  width: 609px;
}
.map {
  padding-bottom: 150px;
}
.map img {
  width: 100%;
  height: 600px;
  margin-top: 70px;
}

.footer {
  background-color: #fff;
  box-sizing: content-box;
  height: 100px;
  z-index: 5;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.footer-button {
  background-color: #fe4f02;
  border-radius: 40px;
  color: #fff;
  font-size: 30px;
  line-height: 80px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 10px;
  width: 708px;
}
.city-wrap {
  height: 100%;
  overflow: auto;
  padding: 20px 0;
}
.van-index-bar {
  position: static;
}
.van-index-anchor {
  margin: 20px 0;
}
.city-wrap .van-index-bar__sidebar {
  position: absolute;
}
.citys {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
}
.citys span {
  border: 1px solid #198471;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 8px;
  white-space: nowrap;
}
.list-1-item {
  display: flex;
  margin-bottom: 20px;
  font-size: 30px;
  margin-top: 40px;
}
.list-1-item .left {
  width: 30%;
  height: 180px;
}
.list-1-item .left div {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.list-1-item .right {
  margin-left: 30px;
  padding-top: 20px;
  flex: 1;
}
.jingp {
  color: #d7a10a;
  margin-left: 20px;
  font-size: 26px;
  background: rgba(215, 161, 10, 0.1);
}
.list-1-item .right p {
  margin-bottom: 15px;
}
.list-1-item .right .right-info3 {
  margin-top: 0.16rem;
  font-size: 26px;
  color: #949ea3;
}
.list-1-item .right .right-info3 .line {
  background: #e4e7eb;
  display: inline-block;
  width: 1px;
  height: 27px;
  vertical-align: middle;
  margin: 0 0.106667rem;
}
.list-1-item .right .right-info2 .details {
  padding: 8px;
  background: rgba(46, 50, 60, 0.05);
  border-radius: 4px;
  color: #949ea3;
  font-size: 26px;
  margin-right: 10px;
}

.list-1-item .btn {
  width: 150px;
  height: 50px;
  border-radius: 1px;
  font-size: 30px;
  color: #f33f3e;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border: 1px solid #f33f3e;
}
.van-dialog {
  width: 70%;
}
.van-dialog__message img {
  width: 100%;
  margin-top: 30px;
}
