<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=750, user-scalable=no, viewport-fit=cover"
    />
    <meta name="format-detection" content="telephone=no" />
    <title>月嫂</title>
    <link rel="stylesheet" href="./static/index.css" />
    <link
      rel="stylesheet"
      href="https://fastly.jsdelivr.net/npm/vant@3/lib/index.css"
    />
  </head>
  <body>
    <div id="app">
      <header class="header">
        <van-swipe
          class="my-swipe"
          :autoplay="3000"
          indicator-color="white"
          vertical
        >
          <van-swipe-item v-for="(item, index) in userJson"
            >{{item}}</van-swipe-item
          >
        </van-swipe>
      </header>
      <section class="section submit-container">
        <div class="title">
          <p class="title-text">
            <span class="text">查一查</span>
            <span class="text">本地，</span>
            <span class="text">请个专业月嫂</span>
            <span class="text highlight">多少钱?</span>
          </p>
          <p class="price-text">
            <span class="icon">￥</span>
            <span class="num" v-text="price"></span>
          </p>
        </div>
        <section class="container yuesao-submit">
          <div class="type item">
            <p class="title">类型:</p>
            <van-checkbox-group v-model="form.checked" direction="horizontal">
              <van-checkbox
                icon-size="30px"
                checked-color="#ee0a24"
                :name="item"
                v-for="item in checkbox.checkboxes"
                >{{item}}</van-checkbox
              >
            </van-checkbox-group>
          </div>
          <div class="item phone">
            <p class="item-title">手机号码:</p>
            <div class="input-item">
              <input
                type="text"
                placeholder="请填写您的手机号码"
                class="phone-inputer"
                v-model="form.phone"
              />
            </div>
          </div>
          <div class="item date">
            <p class="item-title">预产期:</p>
            <div class="input-item" @click="dateShowPicker">
              <p class="text" :class="form.date? '' : 'tip'">
                {{form.date? form.date:'请选择预产期'}}
              </p>
              <div class="arrow"></div>
            </div>
            <van-popup v-model:show="dateShow" position="bottom" round>
              <van-datetime-picker
                item-height="80px"
                v-model="date"
                type="date"
                @confirm="dateShowPicker"
                @cancel="dateShowPicker"
                title="选择年月日"
              />
            </van-popup>
          </div>
          <div class="item area">
            <p class="item-title">所在地区:</p>
            <div class="input-item" @click="cityShowPicker">
              <p class="text" :class="form.city ? '' : 'tip'">
                {{form.city ? form.city :'请选择地区'}}
              </p>
              <div class="arrow"></div>
            </div>
            <van-popup
              v-model:show="cityShow"
              position="bottom"
              round
              :style="{ height: '80%' }"
            >
              <div class="city-wrap">
                <van-index-bar :sticky="false">
                  <div style="margin: 40px 0" v-for="(item, index) in cityJson">
                    <van-index-anchor :index="item.letter"
                      >{{item.letter}}</van-index-anchor
                    >
                    <div class="citys">
                      <span
                        v-for="city in item.list"
                        @click="selectCity(city)"
                        v-text="city"
                      ></span>
                    </div>
                  </div>
                </van-index-bar>
              </div>
            </van-popup>
          </div>
          <div class="submit-button" @click="submit">获取报价</div>
          <div class="sign-agreements">
            <p data-v-37edc2c6="">
              点击同意提交，即代表您已知悉并同意由妈妈网收集以上信息并提供给【第三方服务提供商】以提供咨询服务，妈妈网将为您推荐至多3个合适的商家，请留意商家的联系电话
              <span data-v-37edc2c6="" style="color: rgb(254, 79, 2)"
                >《个人信息授权声明》</span
              >
            </p>
          </div>
          <div class="doppler-tip-popup"></div>
        </section>
      </section>
      <section class="section comment">
        <section class="comment-container">
          <div class="comment-title"></div>
          <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
            <van-swipe-item v-for="(item, index) in data"
              ><section class="user">
                <div
                  class="avatar"
                  :style="
                      {backgroundImage: `url(./static/head/head${index+1}.webp)`}
                    "
                ></div>
                <div class="user-info">
                  <p class="username">{{item.name}}</p>
                  <p class="age">
                    <span class="age-text">{{item.age}}</span>
                  </p>
                </div>
              </section>
              <p class="comment-content">{{item.p}}</p>
              <ul class="image-list">
                <div
                  v-for="img in 3"
                  class="image-item"
                  :style="
                      {backgroundImage: `url(./static/img/${index+1}-${img}.webp)`}
                    "
                ></div></ul
            ></van-swipe-item>
          </van-swipe>
        </section>
      </section>
      <section class="map section map">
        <div class="map-title"></div>
        <img src="./static/banner.webp" alt="" />
      </section>
      <footer class="footer footer" v-show="showBottomBtn">
        <div class="footer-button" @click="submit">获取报价</div>
      </footer>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./static/data.js"></script>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/vant@3/lib/vant.min.js"></script>

    <script src="./static/index.js"></script>
  </body>
</html>
